body, html {
    background-image: url(./images/pexels-fotios-photos-3100310.jpg);
    background-size: cover;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;        
}

header {
    background-color: rgba(255, 255, 255, 0.8);
    height: 70px;
    display: flex;
    justify-content: center;
    align-content: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40%;
}

button {
    min-width: 150px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 15px;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home {
 border: solid black 1px;
 min-height: 400px;
 min-width: 900px;
 background-color: rgba(255, 255, 255, 0.85);
 padding-top: 110px;
 font-size: 24px;
 text-align: center;
 margin-top: 115px;
 margin-bottom: 300px;
 border-radius: 15px;
}

#menu {
    border: solid black 1px;
    min-width: 900px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 15px;
    text-align: center;
    font-size: 24px;
    padding-bottom: 75px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.menu-item-header {
    margin-top: 90px;
}

.menu-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

h3 {
    margin-bottom: 15px;
}

.menu-item {
    border: solid black 2px;
    border-radius: 15px;
    min-width: 500px;
    background-color: black;
    color: white;
    max-width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


footer {
    background-color: rgba(255, 255, 255, 0.8);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}